<!DOCTYPE html>
<html>
<head>
  <title>Internal Server Error</title>
</head>
<body>
  <h1>500 - サーバー内部エラー</h1>
  <p>申し訳ありませんが、サーバーでエラーが発生しました。</p>
  <%= link_to 'ホームに戻る', root_path %>
</body>
</html>
