/*
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #4CAF50; /* 緑色の背景 */
  color: white;
  padding: 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header nav a {
  color: white;
  margin: 0 0.5em;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

header nav a:hover {
  background-color: #45a049; /* ホバー時の色 */
}

main {
  flex: 1;
  padding: 2em 1em;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid #e7e7e7;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

div.blog-entry {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #45a049;
  position: relative;
}

div.blog-entry p {
  background-image: linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff 0%, #fff 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #4c9ac0 100%);
    background-size: 8px 100%, 100% 2.5em;
    line-height: 2.5;
    margin: 0;
}
  






